.searchSection {
    width: 88%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

@media (max-width: 500px) { 
    .searchSection {
        width: 98%;
    }
  }